*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.button-pill {
  padding: 0.2rem 3rem 0;
  border: 0.1rem solid black;
  border-radius: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
}

.label {
  text-transform: uppercase;
}
