*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg: #f4f4f4;
  --pink: #f9cdcd;
  --light-grey: #e4e4e4;
  --grey: #5e5e5e;
  --dark-grey: #252422;
}

body {
  max-width: 1300px;
  margin: 1rem auto;
  padding: 0 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--bg);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: -2px;
}

h1 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 4.2rem;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  margin: 5rem 0 1rem 0;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: -1px;
}
h4 {
  font-weight: 600;
  color: var(--grey);
  margin-top: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.p-300 {
  font-weight: 300;
  font-size: 0.9rem;
}

.breadcrumb {
  font-weight: 300;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  bottom: 2rem;
}

code {
  font-family: "Roboto", sans-serif;
  color: var(--grey);
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--grey);
}

li {
  font-size: 1.1rem;
}

ul {
  list-style-type: circle;
  padding-left: 1rem;
}

li::marker {
  font-size: 1rem;
}
/*---------------------- NAV / header---------------------- */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a {
  margin: 0 1.5rem;
  font-size: 0.8rem;
  color: var(--dark-grey);
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}

header {
  height: 58vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header span {
  font-weight: 300;
  margin-left: 0.2rem;
  color: var(--dark-grey);
}
/* ------------------------ PROJECTS ------------------------*/

.click:hover a {
  color: var(--grey);
}

/* ------------------------ QUESTIONS ------------------------*/
.questions-list div {
  border-bottom: 0.5px solid var(--dark-grey);
}

.questions-list ul {
  margin: 0.2rem 0 2rem 0;
}

.questions-list h3 {
  margin-top: 2rem;
}

#nodejs {
  border: none;
}

.questions-list span {
  color: var(--light-grey);
  /* display: none; */
}
.questions-list li:hover > span {
  /* display: inline; */
  color: var(--grey);
}
/* ---------------------- GRID ------------------------ */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-template-areas: "row row row";
}

.row {
  grid-area: row;
}

.questions-list {
  grid-column: 2/4;
}

section,
header {
  border-bottom: 0.5px solid var(--dark-grey);
}

.border-right {
  border-right: 0.5px solid var(--dark-grey);
}

.cell,
.questions-nav,
.questions-list {
  margin: 2rem 0;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "row";
  }

  .row,
  .questions-list {
    grid-column: 1/2;
  }

  h2 {
    margin: 1rem 0;
  }
  .cell {
    margin: 0.5rem;
  }

  .breadcrumb {
    position: initial;
  }

  .border-right {
    border-right: none;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav a {
    font-size: 2rem;
    line-height: 3rem;
  }
  header {
    align-content: center;
  }
}
