body {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 1300px;
  margin: 1rem auto;
  font-family: "Open Sans", sans-serif;
}
/* GRID */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: lightsalmon;
}

.row {
  grid-column: 1/4;
  background-color: lightskyblue;
}

.questions-list {
  grid-column: 2/4;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .row,
  .questions-list {
    grid-column: 1/2;
  }
}
