*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg: #f4f4f4;
  --pink: #f9cdcd;
  --light-grey: #e4e4e4;
  --grey: #5e5e5e;
  --dark-grey: #252422;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--bg);
}

.container {
  display: flex;
  justify-content: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
}

.game-cell {
  border: 1px solid black;
}
